/* ----------
Google Fonts 
-------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}
/* -------------
Starting Heading 
-----------------*/
.container{
    width: 100%;
    height: 677px;
    background-color: #2D25A0;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .banner-title{
    margin-left: 100px;
    margin-right: 120px;
} */
.banner-text{
    color: #FFFFFF;
    width: 485px;
    font-size: 64px;
    margin-right: 102px;
    
}
.banner{
    transition: 1s;
}
.banner img{
    width: 556.01px;
}
.banner:hover{
  transform: scale(1.3);
}
.button{
    color: #FFFFFF;
    width: 168px;
    height: 44px;
    padding: 10px 24px;
    font-size: 16px;
    font-weight: 500;
    background-color: #E02C6D;
    width: 168px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 1s;
    transition-duration: 0.2s;
}
.button:hover,  button:active{
box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
transform: scale(1.3);
z-index: 2;
}
.fas{
    margin-left: 8px;
    width: 24px;
    height: 24px;
}
/*---------------
 Main-> section-1:Grid 
 ---------------*/

.grid-container{
     display: grid;
     margin: auto;
     margin-top: 70px;
     grid-gap: 30px;
     width: 1054px;
     grid-template-columns: repeat(3, 1fr);
 }
 .player img{
    width: 300px;
    height: 256px;
 }
 .player{
     padding: 15px;
     border:15px #FFFFFF;
     box-shadow: #e4e0e0 0px 0px 40px;
 }
 p{
     color: #6C6C6C;
 }
 hr{
     margin-top: 100px;
     margin-bottom: 50px;
     width: 800px;
 }

/*---------------
 Main  Section:2  
 ----------------*/
 .performence-title{
     text-align: center;
     margin-top: 50px;
     font-size: 2.0em;
 }
 .performers{
     width: 1054px;
     margin:auto;
     margin-bottom: 50px;
     
 }
 .best-performers{
     display: flex;
     padding: 10px;
     box-shadow: darkgray 0px 1px 30px;
     margin-bottom: 20px;
     text-align: center;
     
 }
 .performers img{
     margin-right: 5px;
     width: 100px;
 }
 .player-name{
     margin-right:10px;
 }
 /* ---------------
 Register Section
 ------------------- */
.contact-info{
    width: 600px;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
}
.contact-info img{
width: 250px;
align-items: center;
justify-content: center;
 }
 .email{
     color: rgb(0, 0, 0);
     font-size: 20px;
     width: 300px;
     background-color: rgb(255, 255, 255);
     border-radius: 3px;
 }
 .submit{
     color: rgb(255, 255, 255);
     padding: 3px;
     background-color: rgb(29, 18, 102);
     font-size: 18px;
     border-radius: 2px;
     cursor: pointer;
 }
 /*-----------------
  Footer Section 
  -----------------*/
  .footer-container{
    width: 483px;
    height: 213px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }
  .footer-image img{
  width: 483px;
  margin-bottom: 20px;
  }
  .social{
      display: flex;
      list-style: none;
      width: 170px;
      height: 32px;
      margin: auto;
      text-align: center;
  }
.social-btn{
    background-color: rgb(216, 216, 216);
    border-radius: 50%;
    height: 32px;
    width: 32px; 
    text-align: center;
    margin-right: 14px;
    
}
.fab{
    margin-top: 10px;
    color: rgb(116, 122, 116);
}
.copyright-text{
    text-align: center;
    margin-top: 0px;
}
/* ------------
Media Queries 
---------------*/
@media only screen and (max-width:688px) {
    .container{
      flex-direction: column;
      width: auto;
        height: 695px;
  } 
  .banner-text{
      text-align: center;
      margin-left: 18px;
      font-size: 36px;
  }
  .grid-container{
      width: auto;
      grid-template-columns: repeat(1, 1fr);
  } 
  .performers{
      width: auto;
  }
  .footer-logo{
      align-items: left;
  }
  .social-btn{
      width: auto;
  }
}
